
<div class="about-container">
	<h5>About {{site.data.settings.client.name}}</h5>
	<div class="client-image-container">
	<img src="{{site.data.settings.images.client_headshot_path }}" alt="{{site.data.settings.client.company}}" class="client-image" />
	</div><br />
	<p class="editable"><br />This top 1 % real estate team has over 45 years of family experience in the San Diego market. The Dean Aguilar Group is a high performing team comprised of San Diegans&mdash;born, bred, and raised. From North County&rsquo;s scenic hills and beautiful beaches to the South Bay&rsquo;s cultural diversity, the Dean Aguilar Group knows this county and wants to share it with you.<br /><br />The team&rsquo;s ultimate vision is to allow clients to experience properties at their own convenience with up-to-the-minute accuracy while uniquely understanding and appreciating their clients&rsquo; real estate needs.<br /><br />Given the innumerable moving parts in a real estate transaction, clients can depend on the Dean Aguilar Group to do all of the legwork. Their vetted service partners will ensure that clients&rsquo; listings shine, inspections are honest, and settlements are smooth.</p>
		<b>{{ site.data.settings.client.name }}</b><br />
		{{ site.data.settings.client.brand }}<br />
		{{ site.data.settings.client.address }}<br />
		{{ site.data.settings.client.phone }}<br />
		<a href="mailto:{{ site.data.settings.client.email }}" target="_blank">{{ site.data.settings.client.email }}</a><br />
		<a href="http://{{ site.data.settings.client.url }}" target="_blank">{{ site.data.settings.client.url }}</a><br />
	<p></p>
</div>
